@{
    ViewData["Title"] = "Index";
}
@model Shop.Models.User
<main>
    <!-- breadcrumb area start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="login-reg-form-wrap sign-up-form">
                            <h4>Register</h4>
                            <form asp-action="Res"
                                  asp-controller="Login" method="post">
                                  <input type="hidden" asp-for="Status" value=1 />
                                  <input type="hidden" asp-for="RoleId" value="Customer" />
                                <div class="single-input-item">
                                    <input asp-for="Fullname" type="text" placeholder="Name" required />
                                     <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                                <div class="single-input-item">
                                    <input asp-for="Address" type="text" placeholder="Address" required />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="single-input-item">
                                    <input asp-for="Phone" type="text" placeholder="Phone number" required />
                                     <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="single-input-item">
                                    <input asp-for="Email" type="email" placeholder="Email" required />
                                     <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                          
                                            <input asp-for="Password" type="password" placeholder="Password" required />
                                            @if (@ViewBag.Password != null)
                                            {
                                                <span class="text-danger field-validation-error" data-valmsg-replace="true">Minimum of eight characters, at least one uppercase letter, one lowercase letter, one number and one special charactere</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input name="comfirm" type="password" placeholder="Confirm password" required />
                                            @if (@ViewBag.confirm != null)
                                            {
                                                <span class="text-danger field-validation-error" data-valmsg-replace="true">Confirm password not same</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta">
                                        <div class="remember-meta">
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button type="submit" name="res" value="res" class="btn btn-sqr">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}